Repository Axionis47/GAT-Recommendation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @<org-owner>, @<ml-team>, @<mlops-team>

fix: simplify CI to prevent failures
  .github/workflows/ci.yaml
Owners: @<mlops-team>

fix: disable optional workflows to prevent CI errors
  .github/workflows/release.yaml
  .github/workflows/train_vertex.yaml
Owners: @<mlops-team>

feat: add working local training script for GraphTransformerOptimized
  train_graph_transformer_optimized_local.py
Owners: @<org-owner>

fix: add Laplacian PE precomputation for graph_transformer model
  scripts/train/train_baseline.py
Owners: @<org-owner>

fix: add graph_transformer_optimized to argparse choices
  scripts/train/train_baseline.py
Owners: @<org-owner>

feat: enable FLEX_START scheduling for GPU resource waiting
  scripts/gcp/03_submit_training_job.sh
Owners: @<mlops-team>

docs: Add comprehensive GraphTransformer Optimized training results
  docs/RESULTS.md
  docs/TRAINING_SUMMARY.md
Owners: @<ml-team>, @<mlops-team>

docs: Add comprehensive project brief and executive summary
  EXECUTIVE_SUMMARY.md
  PROJECT_BRIEF.md
Owners: @<org-owner>

docs: Add quick reference card with visual summaries
  QUICK_REFERENCE.md
Owners: @<org-owner>

.github/CODEOWNERS:

# CODEOWNERS file for ETP-GT
# These owners will be the default owners for everything in the repo
# unless a later match takes precedence.

# Global owners
* @<org-owner>

# Core model code
/etpgt/model/ @<ml-team>
/etpgt/samplers/ @<ml-team>
/etpgt/encodings/ @<ml-team>

# Infrastructure and deployment
/scripts/gcp/ @<mlops-team>
/.github/workflows/ @<mlops-team>
/docker/ @<mlops-team>

# Documentation
/docs/ @<ml-team> @<mlops-team>

# Configuration
/configs/ @<ml-team>
